[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
pytest-xdist = "*"
pytest-html = "*"
pytest-ordering = "*"
pytest-repeat = "*"
pytest-metadata = "*"

[packages]
django = ">=2.2.10"
pillow = ">=6.2.2"
psycopg2 = "*"

[requires]
python_version = "3.7"
