{% extends "base.html" %}

{% block title %}Count information{% endblock %}

{% block content %}
    <h1>Count total</h1>
    {{ count }}
    <br>
    <a href="{% url 'home' %}">Start Over</a>

    <br />
    {% if count > 1 %}
        <h2> There are {{ count }} words in your text. </h2>
        {% for word, total in sortedwords %}
            <b>{{ word }}</b>: {{ total }}
            <br/>
        {% endfor %}
    {% elif  count == 1 %}
    <h2> There is one word in your text. </h2>
    {% for word, total in sortedwords %}
            <b>{{ word }}</b>: {{ total }}
            <br/>
        {% endfor %}
    {% else %}
    <h2> No words found </h2>
    {% endif %}
{% endblock %}
